{{ block "form" .}}
    <form hx-post="/contacts" hx-swap="outerHTML">
        <label for="name">
            Name: <input
                    {{ if .Values.name }} value="{{ .Values.name }}" {{ end }}
                    type="text" name="name" placeholder="Name"/>
        </label>
        <label for="email">
            Email: <input
                    {{/*                    TODO - figure out a placeholder format*/}}
                    {{ if .Values.email  }} value="{{ .Values.email}}" {{ end }}
                    type="text" name="email" placeholder="Email"/>
            {{ if .Errors.email  }}
                <div style="color: var(--accent-red)">{{ .Errors.email }}</div>
            {{ end }}

        </label>
        <button type="submit">Submit</button>
    </form>
{{ end }}
