{{ block "form" .}}
    <form
            hx-post="/task"
            hx-swap="none"
    >
        <label for="taskname">
            Task Name: <input
                    {{ if .Values.taskname }} value="{{ .Values.taskname }}" {{ end }}
                    type="text" name="taskname" placeholder="Task name"/>
            {{ if .Errors.taskname  }}
                <div style="color: var(--accent-red)">{{ .Errors.taskname }}</div>
            {{ end }}
        </label>
        <label for="project">
            Project: <input
                    {{ if .Values.email  }} value="{{ .Values.email}}" {{ end }}
                    type="text" name="project" placeholder="Project"/>
        </label>
        <label for="Owner">
            Owner: <input
                    type="text" name="owner" placeholder="Owner"/>
        </label>
        <p>Completion Status</p>
        <input type="radio" id="true" name="completed" value="true">
        <label for="true">True</label>
        <input type="radio" id="false" name="completed" value="false">
        <label for="false">False</label>
        <p>Task Description</p>
        <label for="description">
            <textarea name="description"></textarea>
        </label>
        <button type="submit">Submit</button>
    </form>
{{ end }}
